RewriteEngine On
RewriteBase /unfedZombie/Controllers/Department/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^api/(.*)$ DepartmentController.php?route=$1 [QSA,L]
