RewriteEngine On
RewriteBase /unfedZombie/Controllers/storeKeeper/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^api/(.*)$ storeController.php?route=$1 [QSA,L]